
  <h1 class="dingo">Tom's List</h1>
  <ul class="nav nav-pills dingo">
    <div role="presentation" class="active">
      <input type="search" ng-model="search" placeholder="Filter">
    </div>
    <div class="form-inline">
      <label for="sort">  Sort by </label>
      <select class="form-control" ng-model="sorted" id="sort">
      <option name="sorted" value="-created_at">latest</option>
      <option name="sorted" value="created_at">oldest</option>
      <option name="sorted" value="-price">costliest</option>
      <option name="sorted" value="price">cheapest</option>
    </select>
  </div>
  </ul>
  <br>
  <form class="dingo" ng-if="$ctrl.editOn" ng-submit="$ctrl.submitEdit()">
    Edit this post!<br>
    <label>Title:<input class="form-control" ng-model="$ctrl.epost.title"></label><br>
    <label>Description:<textarea class="form-control" ng-model="$ctrl.epost.description"></textarea></label><br>
    <label>Image Url:<input class="form-control" ng-model="$ctrl.epost.item_image"></label><br>
    <label>Price:<input class="form-control" ng-model="$ctrl.epost.price"></label><br>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
  <br ng-if="$ctrl.editOn">



  <div ng-repeat="post in $ctrl.posts | filter:search | orderBy:sorted">

    <div class="col-md-12">

      <div class="well">
        <div class="media-left">
          <img width="200px" class="media-object" ng-src="{{ post.item_image }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
        {{ post.title }}
        |
      </h4>
          <a ng-click="$ctrl.edit(post.id)">edit</a> | <a ng-click="$ctrl.deletes(post.id)">delete</a>
          <div class="text-right">
            ${{ post.price }}
          </div>
          <p>
            {{ post.description }}
          </p>
        </div>
      </div>

    </div>

  </div>




  <form class="dingo" ng-if="$ctrl.newPost" ng-submit="$ctrl.submitNew()">
    Add a new post!<br>
    <label>Title:<input class="form-control" ng-model="$ctrl.npost.title"></label><br>
    <label>Description:<textarea class="form-control" ng-model="$ctrl.npost.description"></textarea><br>
    <label>Image Url:<input class="form-control" ng-model="$ctrl.npost.item_image"></label><br>
    <label>Price:<input class="form-control" ng-model="$ctrl.npost.price"></label><br>
    <button type="submit" class="btn btn-primary">Create Ad</button>
  </form>
